{% extends "catalog.html" %}

{% block subcontent_header %}
<h2>{{category_name}}</h2>
{% endblock subcontent_header %}

{% block subcontent_list %}
{% for instrument in instruments %}
    <li>
        <a href = "{{url_for('showInstrument', category_name=instrument.category_name, instrument_name=instrument.name)}}">{{instrument.name}}</a>
    </li>
{% endfor %}
{% endblock subcontent_list %}

{% block select_category %}
    <option value="{{category_name}}" selected>{{category_name}}</option>
{% endblock select_category %}

{% block hidden_info %}
<input type="hidden" name="method" value='post'>
<input type="hidden" name="origin" value='category'>
{% endblock hidden_info %}
