{% extends "catalog.html" %}

{% block subcontent_header %}
<h2>Latest Instruments</h2>
{% endblock subcontent_header %}

{% block subcontent_list %}
{% for instrument in instruments %}
    <li>
        <a href = "url_for('showInstrument', instrument_id = instrument.id)">{{instrument.name}}</a>
        <span><i>({{instrument.category_name}})</i></span>
    </li>
{% endfor %}
{% endblock subcontent_list %}

{% block select_category %}
{% for category in categories %}
    <option value="{{category}}">{{category.name}}</option>
{% endfor %}
{% endblock select_category %}
