{% extends "catalog.html" %}

{% block subcontent_header %}
<h2>Latest Instruments</h2>
{% endblock subcontent_header %}

{% block subcontent_list %}
{% for instrument in instruments %}
    <li>
        <a href = "{{url_for('showInstrument', category_name=instrument.category_name, instrument_name=instrument.name)}}">{{instrument.name}}</a>
        <span><i>({{instrument.category_name}})</i></span>
    </li>
{% endfor %}
{% endblock subcontent_list %}

{% block select_category %}
{% for category in categories %}
    <option value="{{category.name}}">{{category.name}}</option>
{% endfor %}
{% endblock select_category %}

{% block hidden_info %}
<input type="hidden" name="method" value='post'>
<input type="hidden" name="origin" value='latest'>
{% endblock hidden_info %}
